.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody

                tr
                    td Departamento Administrativo de la Presidencia de la República.
                    td Pagina
                    td 
                        a(href="https://dapre.presidencia.gov.co/dapre", target="_blank") <span class="" aria-hidden="true"></span> Visitar 
                tr
                    td Departamento Nacional de Planeación
                    td Pagina
                    td 
                        a(href="https://www.dnp.gov.co/", target="_blank") <span class="" aria-hidden="true"></span> Visitar 
                tr
                    td ILO.ORG - International Labour Organization
                    td Pagina
                    td 
                        a(href="https://www.ilo.org/global/lang--en/", target="_blank") <span class="" aria-hidden="true"></span> Visitar 
                tr
                    td Normograma SENA.
                    td Pagina
                    td 
                        a(href="http://normograma.sena.edu.co/", target="_blank") <span class="" aria-hidden="true"></span> Visitar 
                tr
                    td Página Compromiso Sena.
                    td Pagina
                    td 
                        a(href="http://compromiso.sena.edu.co/", target="_blank") <span class="" aria-hidden="true"></span> Visitar 
                


 
 
 
 
                                      